<table class="table table-striped" id="favorites-table">
    <thead>
      <tr>
        <th>Drink Name</th>
        <th>Produced By</th>
        <th>Produced In</th>
        <th>Delete From Favorites</th>
      </tr>
    </thead>
    <tbody>
		{% for item in query %}
			<tr>
                <td><a href="{% url 'display-details' item.d_id %}">{{ item.d_name }}</a></td>
				<td><a href="{% url 'producer-profile' item.p_username %}">{{ item.p_name }}</a></td>
				<td>{{ item.p_location }}</td>
        <td><a href="{% url 'delete-from-favorites' item.d_id %}" class="btn btn-primary">Delete From Favorites</a></td>
			</tr>
		{% endfor %}
	</tbody>
</table>