{% extends "base.html" %}

{% block content %}

<h2>Your Order History</h2>

<table class = "table table-striped">
<thead>
  <tr>
    <th>Recipe Title</th>
    <th>Price</th> 
    <th>Date of Purchase</th>
  </tr>
  </thead>
  <tbody>
  {% for recipe in query %}
  <tr>
    <td> {{ recipe.title }}</td>
    <td> {{ recipe.price }}</td>
    <td> {{ recipe.date }}</td>
  </tr>

<a href="{% url 'cancel-order' recipe.recipe_id %}" class="btn btn-primary">Cancel Order</a>

  {% endfor %}
  </tbody>
</table>


{% endblock %}