{% extends 'base.html' %}
{% block content %}
<h1>Most Favorited Drinks</h1>

<table class="table table-striped" id="favorites-table">
    <thead>
    <tr>
        <th>Drink Name</th>
        <th>Drink Producer</th>
        <th>Favorite Count</th>
    </tr>
    </thead>
    <tbody>
    {% for item in query %}
    <tr>
        <td><a href="{% url 'display-details' item.d_id %}">{{ item.d_name }}</a></td>
        <td><a href="{% url 'producer-profile' item.p_username %}">{{ item.p_name }}</a></td>
        <td>{{ item.fav_count }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}
