{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div class="container" style="margin-top:50px; margin-bottom:50px;">
	<div class="row">
		<div class="col-md-6">
			<h1>Welcome {{ request.session.lazylogin }}</h1>
		</div>
		<div class="col-md-6">
			{% if not isCustomer %}
				<h1><a href="{% url 'sell-recipe' %}" class="btn btn-success" style="float:right;">Create Recipe</a></h1>
			{% endif %}
		</div>
	</div>
	<br>

	<div>
		<input id=”q” class="form-control" name="search" placeholder="Search for recipe..." type=”text”/>
	</div>

	<br>

	{% include '_recipes.html' %}
</div>

<script>
	$( document ).ready(function() {
		console.log("Document is ready");
		$('input[name=search]').on('input',function(e){ 
			$.ajax({
		        url: '/ajax/search/recipe',
		        data: {
		          'q': $(this).val()
		        },
		        success: function (data) {
		        	$( "#recipe-table" ).replaceWith( data );
		        }
		    }); 

		});
	});
</script>

{% endblock %}
