<div id="content">
		{% if messages %}
			{% for message in messages %}
				{% if message.tags == "error" %}
					<p class="alert alert-danger"> {{message}} </p>
				{% elif message.tags == "success" %}
					<p class="alert alert-success"> {{message}} </p>
				{% elif message.tags == "info" %}
					<p class="alert alert-info"> {{message}} </p>
				{% elif message.tags == "warning" %}
					<p class="alert alert-warning"> {{message}} </p>
				{% endif %}
			{% endfor %}
		{% endif %}
		{% block content %}
		{% endblock %}
	</div>
<h1>Login</h1>
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
Don't have an account?
<a href="{% url 'supplier-register' %}">Supplier Sign Up</a>
<a href="{% url 'customer-register' %}">Customer Sign Up</a>
