{% extends "base.html" %}

{% block content %}

<div class="container" style="margin-top:50px; margin-bottom:50px;">

<h1>Profile - {{ request.session.lazylogin }}</h1>
<hr>   
<div class="container bg-info" style="border-radius: 20px;"> 
    {% for supplier in supplierinfo %}

        <div class="row">
          <div class="col-md-3">
            <h3 class="text-muted">Supplier Organization:</h3>
          </div>
          <div class="col-md-9">
            <h3>{{supplier.org_name}} </h3>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <h3 class="text-muted">Supplier username:</h3>
          </div>
          <div class="col-md-9">
            <h3>{{supplier.username}} </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h3 class="text-muted">Address:</h3>
          </div>
          <div class="col-md-9">
            <h3>{{supplier.street}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h3 class=ext-muted"></h3>
          </div>
          <div class="col-md-9">
            <h3>{{supplier.city}}, {{supplier.state}} {{supplier.zip_code}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h3 class="text-muted">Email:</h3>
          </div>
          <div class="col-md-9">
            <h3>{{supplier.email}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h3 class="text-muted">Phone Number:</h3>
          </div>
          <div class="col-md-9">
            <h3>{{supplier.phone_number}}</h3>
          </div>
        </div>        
    {% endfor %}
</div>


<div class="container" style="margin-top:25px;">
   <div class="row">
        <div class="col-md-4">
          <h2>Recipes</h2>
        </div>
        <form action="{% url 'export-supplier' %}" method="GET">
        <div class="col-md-6">
          <div class="form-group" style="float:right;">
            <label for="sel1">Export Type:</label>
            <select class="form-control" id="export_type" name="export_type">
              <option>JSON</option>
              <option>XML</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <input type="submit" class="btn btn-primary" style="float:left; margin-top: 25px;">
        </div>
        </form>
      </div>
   <hr>
    
<table class = "table table-striped">
<thead>
  <tr>
    <th>Recipe Title</th>
    <th>Price</th> 
  </tr>
  </thead>
  <tbody>
  {% for recipe in query %}
  <tr>
    <td> <a href="{% url 'recipe-details' recipe.recipe_id %}">{{ recipe.title }}</a></td>
    <td> {{ recipe.price }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

</div>
</div>
{% endblock %}